html {
    height: 100%;
}

body{
    background-color: lightgrey;
    font-size: large;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    height: 100%;
}
.banniere {
    background: url("./images/banniere.jpeg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    margin: 0;
}

.container {
    display: flex;
    height: 100%;
}

.menu {
    width: 25%;
    border-right: 2px solid black;
    margin-right: 1rem;
    height: 100%;
}

.menu ul li{
    margin: 1rem;
    list-style-type: none;

}

.content {
    width: 75%;
}

#boitelogo42 {
    float:right;
    width: 60%;
}
#boitetextesur42 {
    float: left;
    width: 30%;
}
#banniere{
    float: inline-start;
    font-size: 100%;
}
